
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --yellow : #fdc500;
    --green : #7bb135;
}

.hero-text h1{
    font-family: "Roboto Slab", serif;
    color: var(--yellow);
    font-size: 4rem;

}
.hero-text h2{
    font-family: "Roboto Slab", serif;
    color: var(--green);

}
.hero-text h5{
    font-family: "Roboto Slab", serif;
}