@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --yellow: #fdc500;
  --green: #7bb135;
  --white: #f1f1f1;
  --orange: #ff7701;
  --pink: #e91e63;
  --grey: #929aad;
  --white-300: #d8d8d8;
  --blue: #2d7ebf;
  --font-1: "Roboto Slab", serif;
}

::selection {
  background-color: var(--orange);
  color: var(--white);
}

.hero-text h1 {
  font-family: var(--font-1);
  color: var(--yellow);
  font-size: 4rem;
}
.hero-content {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.hero-text h2 {
  font-family: var(--font-1);
  color: var(--green);
}
.hero-text h5 {
  font-family: var(--font-1);
}
.content-left {
  font-family: var(--font-1);
  color: var(--white);
  display: flex;
}

.hero-form form input {
  width: 100%;
}
.hero-form form input:focus {
  outline: none;
  border: 1px solid var(--orange);
}
.hero-form form button {
  width: 100%;
  background-color: var(--orange);
  transition: background 500ms ease;
}

.hero-form form button:hover {
  background-color: var(--pink);
}
.group-2 {
  margin-left: 15px;
}

.section-2 p {
  color: var(--grey);
  font-weight: 400;
  font-size: 20px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  background-color: var(--blue) !important;
  padding: 16px;
  border-radius: 50% !important;
  width: 45% !important;
  margin-left: 45px !important;
}

.cards div {
  background-color: var(--white-300);
  margin-left: 8px;
  width: 20.5%;
  border-radius: 5px;
}

.cards div h3 {
  font-family: var(--font-1);
  width: 118%;
  margin-left: -13px;
  font-size: 23px;
}
.section-3 {
  background-color: var(--white-300);
}
.get-stated h2 {
  font-family: var(--font-1);
}

.section-4 p {
  color: var(--grey);
  font-weight: 400;
  font-size: 18px;
}
.section-4 h4{
  font-family: var(--font-1);
}
.reviews p{
  font-size: 15px;
}
.load{
  margin-left: 110px;
}
.section-5{
  background: var(--white-300);
}
@media screen and (min-width: 480px) and (max-width: 640px) {
  .hero-content {
    display: block;
  }
  .content-left {
    display: block;
  }
  .group-2 {
    margin-left: 0;
  }
  .cards {
    display: none;
  }
}
